.gallery{
  margin: 40px 0;
}
.gallery-item{
  min-height: 300px;
}
.gallery-icon{
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}
figcaption{
  text-align: left;
}
