.widget{
  background-color: #fff;
  border-top: 0;
  list-style-type: none;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 2px;
  font-size: inherit;
  ul{
    padding: 0;
    margin: 0;
    li{
      list-style-type: none;
      padding-top: 5px;
      line-height: 1rem;
      padding-left: 2rem;
      text-indent: -1.1rem;
      &:before{
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f111";
        color: $color-theme;
        font-size: 0.5em;
        padding: 0 8px;
        position: relative;
        top:-3px;
      }
      a{
        position: relative;
        left:-10px;
      }
    }
  }
  .communevoisine{
	  color:#ffffff;
	  display:block;
	  height:60px;
	  font-size:1.3em;
	  line-height:1em;
	  margin-top:11px;
	  small{
		  font-size:0.8em;
	  }
	  img{
		  margin-top:-5px;
		  padding:0 10px 0 0;
		  float:left;
	  }
  }
  .liens_utiles-item figure{
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 0.9rem;
    img{
      max-width: 40px;
      margin-right: 20px;
    }
  }
}
.sidebar .widget{
  background-color: $gray-background;
}
.sidebar .widget p{
  margin: 0.5rem 0 0;
}

.sidebar .widget{
button, html input[type="button"], input[type="reset"], input[type="submit"]{
  width: 100%;
  }
}
.iva_bh_shortcode .iva_bhp_hours_row, .ivabh-businesshours .iva_bhp_hours_row{
  padding: 3px 0 !important;
}
.iva_oc_open{
  display: none !important;
}
footer#footer .ivabh-current-day{
  color:#fff !important;
}
