table, th, td{
  border:0;
}
.sidebar {
    margin-bottom: 3.5em;
    padding: 0;
}
@media screen and (min-width: 56.875em){
.sidebar {
    float: left;
    margin-left: 70%;
    padding: 0;
    width: 30%;
}}
.header {
  background-color: #ffffff;
  padding: 20px 0 5px;
}

.site-inner {
  max-width: 1220px;
}

.gallery-item {
  margin-bottom: 20px;
}

figcaption {
  text-align: left;
}

.site-header {
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (min-width: 75em){
	header.site-header {
	  padding-left:0;
	  padding-right:0;
	}
}
.post-thumbnail {
  margin: 0;
}

.site {
  margin: 0;
}

.site-content {
  padding: 0;
}

.site-main {
  background: #ffffff;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-radius: 2px;
}

.site-main:after {
  content: '';
  display: block;
  clear: both;
}


body:not(.custom-background-image):before,
body:not(.custom-background-image):after {
  height: 0;
}

.gallery-icon img,
.inside-banner img {
  width: 100%;
  max-width: none;
}

.site-title span {
  position: absolute;
  top: -9999px;
}


.circular {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  background-size: cover;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: 0 -5px;
}

a,
.site-branding .site-title a:hover, .site-branding .site-title a:focus,
.main-navigation a:hover, .main-navigation a:focus,
.main-navigation li:hover > a, .main-navigation li.focus > a,
.entry-title a:hover, .entry-title a:focus,
.entry-footer a:hover, .entry-footer a:focus,
.site-info a:hover, .site-info a:focus,
* a:hover, * a:focus {
  color: $color-theme;
  transition: all  0.2s linear;
}


.site-header{
  padding-top: 0;
  padding-bottom: 0;
}
.post-thumbnail{
  margin:10px;
  padding:10px 0;
}
.post-thumbnail.inside-banner{
  margin:0;
  padding:0;
}
.post-list .post-thumbnail{
	margin:0;
	padding:0;
}

@media screen and (min-width: 56.875em){
	.content-area {
		width:68%;
	}
}
.entry-content a,
.entry-summary a,
.taxonomy-description a,
.logged-in-as a,
.comment-content a,
.pingback .comment-body > a,
.textwidget a,
.entry-footer a:hover,
.site-info a:hover {
	box-shadow: 0 0 0 0 currentColor;
}
.navigation.post-navigation{
	border-top:0;
	border-bottom:2px solid #999;
	.nav-previous{
		float:left;
		.meta-nav{
			text-align:left;
		}
	}
	.nav-next{
		float:right;
		.meta-nav{
			text-align:right;
		}
	}
	.post-title,
	.meta-nav{
		font-size:0.75rem;
		margin-bottom:0;
	}
	div + div {
    	border-top: 0;
	}
}
hr{ clear: both; }
table tr td{
	    border: 1px solid #ddd;
}

@media screen and (min-width: 44.375em){
.entry-content ul, .entry-summary ul, .comment-content ul, .entry-content ol, .entry-summary ol, .comment-content ol {
    margin: 0 0 1.75em 1.25em;
}
}
.entry-content h4.panel-title{
	text-transform: none;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
}
.panel-default > .panel-heading{
	border: 0;
	background-color: transparent;
}
.searchResults article{
	margin-bottom: 2rem;
}
.no-results form label{
	width: 100%;
	height: 2.2rem;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
  background: #fff;
  padding: 1em !important;
  border: 1px solid #eee;
  margin-top: 5px;
}
