/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html,body {
  /* Change default typefaces here */
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

/* Copy & Lists */
#primary, #secondary{
  font-size: 0.9rem;
}
p,
.iva_bh_shortcode {
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-top: 1em;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
ul li,
ol li {
  line-height: 1.4rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  line-height: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* Headings */
h1,
h1.entry-title,
h2,
.widget h2.widget-title,
.widget h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-family: "Raleway", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 1px;
}
#footer .widget h2{
		color:#fff;
    font-weight: 700;
    text-transform: none;
    font-size: 0.9rem;
}
#footer a{
		color:#fff;
}
.widget{
  font-size: 0.9rem !important;
  ul li{
    line-height: inherit !important;
  }
}
a:hover{
	h1,h2,h3,h4,h5,h6{
		color:$color-theme;
	}
}
.post-navigation a:hover .post-title, .post-navigation a:focus .post-title{
		color:$color-theme;
		text-decoration:none;
		span{
			text-decoration:none;
			border:0;
		}
}
h1,
h1.entry-title {
    font-size: 1.8rem;
    margin: 2rem;
    text-transform: uppercase;
    color: $color-theme;
}
.category-actualites h3,
h2{
    font-size: 1.2rem;
    text-transform: uppercase;
}
.homepage-content h2, .homepage-content .widget h2.widget-title {
    margin: 1rem 0 0 !important;
}
h3 {
  font-size: 0.9rem;
  font-weight: 700;
	color:$color-theme;
}
h4 {
    font-size: 1rem;
}
h5 {
    font-size: 0.9rem;
}
h6 {
	font-size: 0.8rem;
}
/* Tables */
table {
  margin-top: 1rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}
/* Code blocks */
code {
  vertical-align: bottom;
}
/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}
/* Hug the block above you */
.hug {
  margin-top: 0;
}
dt, dd {
    line-height: 1.55;
}
